<div class="projects-container">
  <div class="header">
    <h2>Your Projects</h2>
    <button class="sign-out-btn" (click)="signOut()">Sign out</button>
    <button class="create-btn" (click)="createProject()">+ New Project</button>
  </div>

  <div *ngIf="projects.length > 0; else noProjects" class="projects-list">
    <ul>
      <li *ngFor="let project of projects" class="project-item">
        <div class="project-info">
          <h3>{{ project.name }}</h3>
          <p>Project users: {{ getProjectUserNames(project) }}</p>
        </div>
        <button class="go-btn" (click)="goToProject(project.id)">Go to Project</button>
      </li>
    </ul>
  </div>

  <ng-template #noProjects>
    <p class="no-projects-text">No projects available. Start by creating a new one!</p>
  </ng-template>
</div>
