<div class="login-container">
    <h1>Login to Your To-Do List</h1>
    <form class="login-form">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" placeholder="Enter your username" required>
        
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Enter your password" required>
        
        <button type="submit">Login</button>
    </form>
    <div class="signup-link">
        <p>Don't have an account? <a href="/sign-up">Sign up here</a></p>
    </div>
</div>
